
#main
{
	width: 45%;
	margin-left: 5%;	
	float: left;
}
#view
{
	float: left;
}
body
{
	background-color: #ECF5FF;
}
h2
{
	text-align: center;
	color: #4F4F4F;
	font-family:微軟正黑體;
}
#push_bt
{
	border-radius: 5px;
	background-color: #FFAF60;
	color: #6C6C6C;
	border:1px #d0d0d0 solid;
	width: 20%;
	height: 35px;
	font-size: 16px;
	margin-left: 5%;
}
#delete_bt
{
	border-radius: 5px;
	background-color: #FFAF60;
	color: #6C6C6C;
	border:1px #d0d0d0 solid;
	width: 20%;
	height: 35px;
	font-size: 16px;
}
.title
{
	margin-left: 5%;
	font-size: 24px;
	font-family:微軟正黑體;
	color:#007AFA;
}
.data
{
	margin-left: 5%;
	font-size: 16px;
	font-family:微軟正黑體;
	color:#4F4F4F;
}
.list
{
	margin-left: 5%;
	font-size: 20px;
	font-family:微軟正黑體;
	color:#3C3C3C;
}