#main
{
	position: fixed;
	width: 45%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 5%;
}
#view
{
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 50%;
}
#preview
{
	width: 400px;
}