
h2
{
	text-align: center;
	color: #4F4F4F;
	font-family:微軟正黑體;
}
.title
{
	text-align: center;
	font-size: 24px;
	font-family:微軟正黑體;
	color:#007AFA;
}
.data
{
	text-align: center;
	font-size: 16px;
	font-family:微軟正黑體;
	color:#4F4F4F;
}
.list
{
	text-align: center;
	font-size: 20px;
	font-family:微軟正黑體;
	color:#3C3C3C;
}
#uploadImg
{
	text-align: center;
}