nav ul
{
	margin-left: 10%;
	height:100%; 
	width:70%;
}

nav ul{overflow:hidden; overflow-y:scroll;}

#listTitle
{
	position: fixed;
	width: 100%;
	height: 10%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
}
#list
{
	position: fixed;
	width: 100%;
	height: 90%;
	top: 10%;
	right: 0;
	bottom: auto;
	left: 0;
}
.user
{
	position: fixed;
	width: 15%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;	
	color: red;
}
.user_id
{
	position: fixed;
	width: 25%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 15%;
}
.latidute
{
	position: fixed;
	width: 20%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 40%;
}
.longitude
{
	position: fixed;
	width: 20%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 60%;
}
.check
{
	position: fixed;
	width: 20%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 80%;	
}