.css_table {
	display:table;
}
.css_tr {
	display: table-row;
}
.date_css_td {
	display: table-cell;
}
.time_css_td {
	display: table-cell;
}
.title_css_td {
	display: table-cell;
	width: 60%;
}
.list_css_td {
	display: table-cell;
}