nav ul
{
	margin-left: 10%;
	height:100%; 
	width:70%;
}

nav ul{overflow:hidden; overflow-y:scroll;}

#listTitle
{
	margin-left: 10%;
	position: fixed;
	width: 80%;
	height: 10%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
	background-color: #FFEFD5;
}
#list
{
	position: fixed;
	width: 100%;
	height: 90%;
	top: 10%;
	right: 0;
	bottom: auto;
	left: 0;
}
.user
{
	position: fixed;
	width: 10%;
	height: 10%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 10%;	
	text-align:center;

}
.user_id
{
	position: fixed;
	width: 20%;
	height: 10%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 20%;
	text-align:center;
}
.latidute
{
	position: fixed;
	width: 15%;
	height: 10%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 40%;
	text-align:center;
}
.longitude
{
	position: fixed;
	width: 15%;
	height: 10%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 55%;
	text-align:center;
}
.check
{
	position: fixed;
	width: 20%;
	height: 10%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 80%;	
	text-align:center;
}