.css_table {
	width: 80%;
	margin-left: 10%;
	margin-top: 5%;
	display:table;
}
.css_tr {
	display: table-row;
}
.date_css_td {
	display: table-cell;
	width: 15%;
}
.time_css_td {
	display: table-cell;
	width: 10%;
}
.title_css_td {
	display: table-cell;
	width: 75%;
}
.list_css_td {
	display: table-cell;
}